body {
  background: url('/imgs/backgroundsw.jpg');
  background-size: cover;
}

h2 {
  color: #f4f4f4;
  text-transform: uppercase;
}

.title{

}

md-nav-bar {
  position: fixed;
  bottom:0;
  width: 100%;
  background: white;
}
